body {
    margin: 0;
}

.header {
    background-image: linear-gradient(to left, black, rgb(22, 4, 46));
    padding: 20px;
    font-size: 30px;
}
.header a {
    text-decoration: none;
    color: white;
    padding:0 20px;
    border-right: 1px solid white;
}
.header a:last-child {
    border: none;
}
.header a:hover {
    color: gray;
}
/*
* Home
*/
.home-page {
    margin-top: 100px;
    font-size: 200px;
    text-align: center;
}

/*
* Cars
*/

.table {
    margin: 100px auto;
    width: 1400px;
}
.table td {
    width: 20%;
    border-bottom: 1px solid gray;
    line-height: 50px;
}

/*
* Button
*/
.btn {
    border: none;
    border-radius: 4px;
    padding: 5px 20px;
    font-weight: bold;
}
.btn-grn {
    background-image: linear-gradient(to bottom, rgb(68, 68, 68), darkgreen);
    color: white;    
}

/*
* Modify car
*/
.update-section {
    width: 0;
    margin: 100px auto;
    padding: 20px;
    background-color: cornsilk;
    display: table;
}
.update-section label {
    font-size: 12px;
}
.update-section input[type="text"] {
    width: 200px;
    padding: 5px;
}
.update-section .btn {
    width: 100%;
    margin: 10px 0;
}